body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

.container {
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  margin: 0  auto;
}

h1 {
  color: purple;
  padding-top: 20px;
}

.heart {
  width: 100px;
  height: 90px;
  background-color: deeppink;
  position: relative;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-45deg);
  animation: pulse 1s infinite;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background-color: deeppink;
  border-radius: 50%;
}

.heart:before {
  top: -50px; 
  left: 0;
}

.heart:after {
  left: 50px;
  top: 0; 
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  50% {
    transform: scale(1.1) rotate(-45deg);
  }

  100% {
    transform: scale(1) rotate(-45deg);
  }
}
